# Specific files/objects
run_steps.sh

# generic extensions
**/*.ckpt
**/*.safetensors
**/*.pth
**/.ipynb_checkpoints/
**/__pycache__/
**/*.pyc

# Model folders
Tinyllama-ft-qlora-dsz3/*
merged_model/*
